@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url("../fonts/inter.css");
@import url("../fonts/gothic_ultra_ot.css");

@font-face {
    font-family: 'AlexBrush';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff'),
         url('../fonts/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-size: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #727072;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #013220;
    height: 7rem;
    align-items: center;

    .logo img {
        margin-right: auto;
        height: 6rem;
        padding-left: 0.5em;
    }
    
    @media (max-width: 779px){
        .nav-links {
            display: none;
            flex-direction: column;
            position: fixed;
            top: 7rem;
            margin-top: 0;
            background-color: #013220DD;
            width: 100%;
            height: calc(100vh - 7rem);
            text-align: center;
            li {
                padding: 2em;
                margin-left: auto;
                margin-right: auto;
                display: block;
                list-style-type: none;
            }
            a {
                text-decoration: none;
                color: white;
                font-size: 4em;
            }
        }

        .hamburger {
            display: inline-block;
            background: none;
            border: none;
            font-size: 3.5em;
            margin-left: auto;
            color: white;
            vertical-align: middle;
            margin-right: 0.5em;

            #close-hamburger {
                display: none;
            }
        }
        .hamburger:hover {
            cursor: pointer;
        }
    }
    
    @media (min-width: 780px){
        .nav-links {
            align-self: center;
            display: flex;
            gap: 4em;
            justify-self: flex-end;
            margin-left: auto;
            padding-right: 4em;
            flex-direction: row;

            li {
                list-style-type: none;
                display: block;
                margin: 0;
                padding: 0;
            }
            a {
                text-decoration: none;
                color: white;
                font-size: 1.5em;
            }
        }

        .hamburger {
            display: none;
        }
    }
}

.hero {
    display: flex;
    justify-content: center;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    /* aspect-ratio: 16 / 9; */
    width: 100%;
    height: calc(100vh - 7rem);
    margin-top: 7rem;
    text-align: center;
    padding-top: 10vh;

    .hero-text {
        font-family: 'AlexBrush', cursive;
        color: white;
        font-size: 6rem;
        line-height: 1.2;

        #ampersand {
           font-size: 4rem;
        }
     }
}

.link-section {
    color: white;
    margin-top: 5rem;
    margin-bottom: 9rem;

    h1 {
        font-family: "gothic_ultra_otregular";
        letter-spacing: 0.5ch;
        text-decoration: underline;
        text-underline-offset: 0.15em;
        text-decoration-thickness: 2px;
        font-size: 4rem;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 6rem;
        margin-left: auto;
        margin-right: auto;
    }

    #registry-links {
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
        gap: 5rem;
        font-family: "InterVariable";
        font-weight: 800;
        li {
            list-style-type: none;
            border-radius: 9999px;
            box-shadow: 3px 2px 0 1px rgba(0, 0, 0, 0.5);
            a {
                padding: 2rem;
                display: block;
                text-decoration: none;
                color: white;
                font-size: 2rem;
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
            }
            
        }
        li:active {
            transform: scale(0.98);
        }

        #amazon-registry-link {
            background-color: #FF9900;
        }
        #amazon-registry-link:hover {
            background-color: #cc7a00;
        }
        
        #venmo-registry-link {
            background-color: #008CFF;
        }
        #venmo-registry-link:hover {
            background-color: #0070CC;
        }
    }
}
