@font-face {
    font-family: 'AlexBrush';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff'),
         url('../fonts/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-size: 100%;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: 100% 70%;
}

.title {
    font-family: 'AlexBrush', cursive;
    color: white;
    text-align: center;
    font-size: 6rem;
    line-height: 1.2;
 }

 #ampersand {
    font-size: 4rem;
 }